
*.zip

51de61ff-aba3-4db6-adac-ece3f1a2bd94_v2.numbers/Metadata/BuildVersionHistory.plist

51de61ff-aba3-4db6-adac-ece3f1a2bd94_v2.numbers/preview-web.jpg

RealityMining/README.txt

RealityMining/realitymining.mat

RealityMining/RealityMining_ReadMe.pdf

51de61ff-aba3-4db6-adac-ece3f1a2bd94_v2.numbers/preview-micro.jpg

51de61ff-aba3-4db6-adac-ece3f1a2bd94_v2.numbers/Metadata/Properties.plist

51de61ff-aba3-4db6-adac-ece3f1a2bd94_v2.numbers/Metadata/DocumentIdentifier
